h2{
	background-color	: yellow;
	color: blue;
	font-family: Comic Ssns MS;
}
h1,h4,h6{
	background-color: blue;
}
p{
	font-size: 14px;
	background-color: yellow;
	color:white;
	font-family: calibri
}
.cobaTabel{	
	background-color: white;
}
#cobaTabel2{
	color: blue;
}
.gambar{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:300px;
}